<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food_enquete.name %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @food_enquete.mail %>
</p>

<p>
  <strong>Age:</strong>
  <%= @food_enquete.age %>
</p>

<p>
  <strong>Food:</strong>
  <%= @food_enquete.food_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @food_enquete.score %>
</p>

<p>
  <strong>Request:</strong>
  <%= @food_enquete.request %>
</p>

<p>
  <strong>Present:</strong>
  <%= @food_enquete.present_id %>
</p>

<%= link_to 'Edit', edit_food_enquete_path(@food_enquete) %> |
<%= link_to 'Back', food_enquetes_path %>
