<%= form_with(model: gym_enquete, local: true) do |form| %>
  <% if gym_enquete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gym_enquete.errors.count, "error") %> prohibited this gym_enquete from being saved:</h2>

      <ul>
      <% gym_enquete.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :mail %>
    <%= form.text_field :mail %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.number_field :course_id %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score %>
  </div>

  <div class="field">
    <%= form.label :request %>
    <%= form.text_field :request %>
  </div>

  <div class="field">
    <%= form.label :present_id %>
    <%= form.number_field :present_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
